


.col-lg.cartbox{

	width: 90%;
	margin-left: 5%;
	margin-right: 5%;


}




html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
}

body{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x:visible;
}

.wrapper {
    min-height: calc(100vh - 370px);
}
footer {
    height: 50px;
}

.modal, .modal1 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content  {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 55%; /* Could be more or less, depending on screen size */
	margin-top: 100px;
  }

  .modal-content1 {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 20%; /* Could be more or less, depending on screen size */
	margin-top: 100px;
  }
  
  /* The Close Button */
  .close, .close1 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus, .close1:hover,
  .close1:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }



#homecard{
margin-left: -1px;

}


.zoom img:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
  }
.zoom div:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.zoom div.nozoom:hover{
  transform: scale(1);
}


div.nozoom:hover{
	transform: scale(1);
  }
.cart-col{

  margin-left: 110px;
  margin-right: 110px;
}



input.btneg {
  width: 30px;
  position: relative;
  margin-right: -30px;
  height: 0.8cm;
}

input.btpos {
  width: 30px;
  position: relative;
  margin-left: -30px;
  height: 0.8cm;
}

input.btneg-cart {
	width: 30px;
	position: relative;
	margin-right: -30px;
	height: 0.8cm;
  }
  
  input.btpos-cart {
	width: 30px;
	position: relative;
	margin-left: -30px;
	height: 0.8cm;
  }


.cart-button {
	position: relative;
	padding: 10px;
	width: 198px;
	height: 42px;
	border: 0;
	border-radius: 3px;
	background-color: #48b427;
  outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
  
}
.cart-button:focus {
  outline: none;
}
.cart-button:hover {
	background-color: #4ec42a;
}
.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -30%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
